{% include 'modules/fonts.html' %}

<title>Sam - Surfing the web</title>

<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<script>
$(window).scroll(function() {
    var headscroll = $(window).scrollTop();

    if (headscroll >= 35) {
        $(".main-header").addClass("shadow");
    } else {
        $(".main-header").removeClass("shadow");
      }
});
</script>

<link rel="stylesheet" type="text/css" href="/static/MainStyles.css">
<link rel="shortcut icon" type="image/x-icon" href="/static/images/Icons/SJ.ico" />

<header class="main-header" role="banner">
<div class = "header-container">

<div class = "logo">
<a href = "\">
<p style = "float: left; color: white; background-color: #32A3FF;">Samuel Jule</p>
</a>
</div>

<p style = "margin-left: 10px; margin-right; 10px;">
<a href="/static/files/Samuel Jule CV.pdf" download>
Download CV
</a>
</p>

</div>

</div>
</header>

<a name="top"></a>
<div class = "spacer"></div>
