/* --- Container --- */

.container{
  padding-left: 15%;
  padding-right: 15%;
}

.container h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
}

.container p{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}
/* --- HEADER --- */

.main-header {
  width: 100%;
  position: fixed;
  height: 50px;
  top: 0;
  overflow: hidden;
  border-bottom: 1px solid lightgrey;
  background-color: #FFFFFF;
  z-index: 0;
}


.main-header img{
  max-height: 50px;
  max-width: auto;
  padding-right: 7px;
  padding-left: 7px;
  top: 0;
}


.header-container img{
  float: right;
  max-height: 40px;
  padding-top: 7px;
  padding-right: 10px;
}

.header-container img:hover{
  border-bottom: 3px solid #32A3FF;
  transition: all 0.3s ease 0s;
}

.header-container{
  border-left: 3px solid white;
  height: 50px;
}


.main-header a{
  color: inherit;
  text-decoration:none;
}


.spacer { margin-top: 75px; }


/* --- FOOTER --- */

.footer{
  width: 100%;
  height: 100px;
  background-color: #e8e8e8;
  bottom: 0;
}

.footer img{
  float: left;
  max-height: 50px;
}

/* --- NAVIGATION --- */

.logo {
    position: relative;
    float: left;
}


/* MISC */
html, body {
 margin: 0;
}
