/* MISC */

html,body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.spacer { margin-top: 50px; }

:root{
  --themecolor: #8792ff;
}

/* LANDING SECTION */

@keyframes arrowBob {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0);
  }
}

.arrow{
  display: block;
}

.scrollLock{
  position: fixed;
  width: 100%;
  z-index: -1;
  top: 0;
}

.landingHeader{
  height: 100vh;
  display: block;
  margin: 0;
  background: linear-gradient(270deg, #87dcff, #8792ff, #cc87ff, #ff87c3);
  background-size: 800% 800%;

  background: linear-gradient(270deg, #8792ff, #cc87ff, #ff87c3, #ff7880);
  background-size: 800% 800%;

  -webkit-animation: AnimationName 10s ease infinite;
  -moz-animation: AnimationName 10s ease infinite;
  animation: AnimationName 10s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.landingHeader h1{
  font-size: 60px;
  color: white;
  font-weight:200;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  letter-spacing: 8px;
}

.headerRow{
  padding-top: 40vh;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  padding-bottom: 15px;
  border-bottom: 2.5px solid white;
}

.hidden{
  display: none !important;
}

.headerSocial{
  margin-right: 30%;
  margin-left: 30%;
  transition: 1;
  display: flex;
  margin-top: 20px;
  justify-content: center;
  flex-direction: row;
}
.headerSocial img{
  height: auto;
  transition: all 0.3s ease-in-out;
  width: 30%;
  margin-left: 35%;
  margin-right: 35%;
  padding: 5px;
  float: left;
}
.icon:hover{
  filter: opacity(30%);
}
.icon{
  width: 33.3%;
  transition: all 0.5s ease-in-out;
}

.landingBox{
  background-color: none;
  width: auto;
}

.landingBox h1{
  font-family: 'Raleway', sans-serif;
  font-size: 60px;
  text-align: center;
}

/* FOOTER */

.footerBox{
  background-color: none;
  width: auto;
}

.footerBox h1{
  font-family: 'Raleway', sans-serif;
  font-size: 60px;
  text-align: center;
}

.myButton {
	background-color:transparent;
	-moz-border-radius:18px;
	-webkit-border-radius:18px;
	border-radius:18px;
	border:2px solid #ffffff;
	display:block;
  width: 100px;
	cursor:pointer;
	color:#ffffff;
  text-align: center;
	font-family: 'Raleway', sans-serif;
	font-size:20px;
  font-weight: 300;
  transition: all 0.5s ease-in-out;
	padding:16px 31px;
	text-decoration:none;
}
.myButton:hover {
	filter: opacity(30%);
}
.myButton:active {
	position:relative;
	top:1px;
}

/* --- CONTAINER--- */


.contentContainer{
  background-color: white;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 101vh;
  margin-bottom: 95vh;
  border-radius: 20px;
  display: block;
  z-index: 30;
  -webkit-box-shadow: 5px 5px 23px 1px rgba(0,0,0,0.42);
  box-shadow: 5px 5px 23px 1px rgba(0,0,0,0.42);
  height: auto;
}

.container{
  padding-top: 30px;
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 70px;
}

.container h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 100px;
  font-weight: 300;
}
.container h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 80px;
  font-weight: 300;
}

.container h3{
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  font-weight: 300;
  border-bottom: 3px solid var(--themecolor);
}

.container p{
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 300;
}

/* MOBILE */

@media screen and (max-width: 1000px){
  .Footer_Container img{
    margin-left: 10%;
  }
  .contentContainer{
    background-color: white;
    margin-top: 100vh !important;
    margin-left: 0;
    border-radius: 0;
    margin-bottom: 0;
    margin-right: 0;
  }
  .headerRow{
    padding-top: 25vh;
  }
  .headerSocial{
    margin-right: 22%;
    margin-left: 22%;
  }
  .headerSocial a{
    display: block;
  }
  .headerSocial img{
    height: auto;
    display: block;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 5px;
    padding: 5px;
    float: left;
  }
  .scrollLock{
    position: absolute;
  }
  .landingBox h1{
    font-family: 'Raleway', sans-serif;
    font-size: 80px;
    text-align: center;
  }
  .container h3{
    font-size: 60px;
    font-weight: 300;
    border-bottom: 3px solid var(--themecolor);
  }
  .container{
    padding-left: 5%;
    padding-right: 5%;
  }
  .footerBox{
    display: none !important;
  }
  .landingBox{
    display: block !important;
  }
  .arrow{
    display: none;
  }
}
